.git
.github
.DS_Store

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.expo
.expo-shared

coverage
dist
build

.env
.env.*
!.env.example
!.env.exemple

*.log
tmp
temp

README.md
**/*.md
**/*.test.js
**/*.spec.js
